.mydiv {
  /* display: flex; */
  padding-top: 5%;
}
.profile {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-color: white;
}
.Tab{
    display: flex;
    justify-content: center;


}
.tab-child{
    padding: 10px;
    border: white 1px solid;
    
}
.experience{
    color: white;
    margin: 100px;
}
.divide{
    display: flex;
    justify-content: space-between;
}